<div>
  <agm-map [style.height.px]="mapHeight" [latitude]="centerLocation.latitude" [longitude]="centerLocation.longitude" (mapClick)="onChooseLocation($event)">
    <agm-marker [latitude]="geoLocation.latitude" [longitude]="geoLocation.longitude"></agm-marker>
  </agm-map>
</div>
<div class="geoInfo">
  <div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" placeholder="Date: yyyy-mm-dd" aria-label="Date" aria-describedby="basic-addon2"
      ngbDatepicker #d="ngbDatepicker" [(ngModel)]="selectedDate" 
      [minDate]="{year: 1980, month: 1, day: 1}" [maxDate]="{year: 2030, month: 12, day: 31}">
    <div class="input-group-append">
      <button class="btn btn-sm btn-outline-primary" type="button" (click)="d.toggle()">Select</button>
    </div>
  </div>
  <div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon2" [(ngModel)]="address"
      (keyup.enter)="getGeoInfoForAddress()">
    <div class="input-group-append">
      <button class="btn btn-sm btn-outline-primary" type="button" (click)="getGeoInfoForAddress()">Go</button>
    </div>
  </div>
  <hr/>
  <div>
    <div>
      <span class="text-standard font-weight-bold small">Date and time: </span>
      <span class="text-standard small">{{dateTime | date:'dd.MM.yyyy HH:mm:ss':timeZoneOffset}}</span>
    </div>
  </div>
  <div>
    <div>
      <span class="text-standard font-weight-bold small">Formatted address: </span>
      <span class="text-standard small">{{geoLocation.formattedAddress}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">Latitude: </span>
      <span class="text-standard small">{{geoLocation.latitude | dms:'lat'}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">Longitude: </span>
      <span class="text-standard small">{{geoLocation.longitude | dms:'lng'}}</span>
    </div>
  </div>
  <div>
    <div>
      <span class="text-standard font-weight-bold small">TimeZone Id: </span>
      <span class="text-standard small">{{timeZone.timeZoneId}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">TimeZone name: </span>
      <span class="text-standard small">{{timeZone.timeZoneName}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">Raw offset: </span>
      <span class="text-standard small">{{timeZone.rawOffset | hours}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">DST offset: </span>
      <span class="text-standard small">{{timeZone.dstOffset | hours}}</span>
    </div>
  </div>
  <div>
    <div>
      <span class="text-standard font-weight-bold small">Sunrise: </span>
      <span class="text-standard small">{{sunInfo.sunrise}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">Sunset: </span>
      <span class="text-standard small">{{sunInfo.sunset}}</span>
    </div>
    <div>
      <span class="text-standard font-weight-bold small">Length of a day: </span>
      <span class="text-standard small">{{sunInfo.duration}}</span>
    </div>
  </div>
  <div>
    <div>
      <span class="text-standard font-weight-bold small">Moon phase: </span>
      <span class="text-standard small">{{moonPhase}}</span>
    </div>
  </div>
</div>
