<div class="column left">
  <h2>Location for {{address}}</h2>
  <div>
    <label>Address:
      <input [(ngModel)]="address" (keyup.enter)="getGeoInfoForAddress()" placeholder="Address">
      <button (click)="getGeoInfoForAddress()">Fetch</button>
    </label>
  </div>
  <br/>
  <div>
    <div>
      <span>Current date and time: </span>{{currentDateTime | date: 'dd.MM.yyyy HH:mm:ss':timeZoneOffset}}</div>
  </div>
  <div>
    <div>
      <span>Formatted address: </span>{{geoLocation.formattedAddress}}</div>
    <div>
      <span>Latitude: </span>{{geoLocation.latitude | number:'.2-2'}}</div>
    <div>
      <span>Longitude: </span>{{geoLocation.longitude | number:'.2-2'}}</div>
  </div>
  <div>
    <div>
      <span>TimeZone Id: </span>{{timeZone.timeZoneId}}</div>
    <div>
      <span>TimeZone name: </span>{{timeZone.timeZoneName}}</div>
    <div>
      <span>Raw offset: </span>{{timeZone.rawOffset}}</div>
    <div>
      <span>DST offset: </span>{{timeZone.dstOffset}}</div>
  </div>
  <div>
    <div>
      <span>Sunrise: </span>{{sunInfo.sunrise}}</div>
    <div>
      <span>Sunset: </span>{{sunInfo.sunset}}</div>
    <div>
      <span>Length of a day: </span>{{sunInfo.duration}}</div>
  </div>
</div>
<div class="column right">
  <agm-map [latitude]="geoLocation.latitude" [longitude]="geoLocation.longitude"
    (mapClick)="onChooseLocation($event)">
    <agm-marker [latitude]="geoLocation.latitude" [longitude]="geoLocation.longitude"></agm-marker>
  </agm-map>
</div>
