.geoInfo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 310px;
  border: 0.5px solid gray;
  z-index: 999;
  background-color: white;
  padding: 5px;
}

div {
  line-height: 1.2;
}

.text-standard {
  color: #369;
}

.extra-padding { 
  padding-left: 10px;
}
