<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Date and time selection</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="text-standard" for="selectedDate">Select date and time:</label>
      <div class="input-group">
        <input id="selectedDate" class="form-control" placeholder="dd.mm.yyyy" 
          name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="dateModel"
          [minDate]="{year: 1980, month: 1, day: 1}" [maxDate]="{year: 2060, month: 12, day: 31}">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="dp.toggle()" type="button">
            <fa-icon [icon]="calendarIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
  <ngb-timepicker [(ngModel)]="timeModel"></ngb-timepicker>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Save</button>
</div>
